h1{margin: 20px 100px;}
h2{margin: 20px 20px;}

body{margin-bottom: 10px;}

.container{
	padding         :0px;
	max-width       :1200px;
	min-height      :95vh;
	/*min-height    :1000px;  Just for testing */
	background-color:#f8f8ff;
	border-radius: 5px;
	box-shadow: 0px 5px 15px 5px #888888;
}

div.form-group div.checkbox label{
	color:red;
}

div.main-app-img{
	float: left;
}

div.main-app-details{	
	float: left;
}

nav.navbar{
	border-radius: 5px 5px 0px 0px;
}

div.app-main{}

div.app-main div.table-responsive{
	max-width: 400px;
}

div.sentiment-icons{
	clear: both;
	padding: 10px 20px;
	text-align: center;
}

div.sidebar{
	/*float: left;*/
	background: #D9EDF7;
	min-height: 500px;
	margin-left: 40px;

	/* temporal */
	min-width: 200px;
}

img.main-app-img{
	max-width: 300px;
}

span.materialshift {padding: 10px;}

span.git-icon{margin:0px 5px 10px;}

span.materialgreen{color:#4CAF50;}
span.fa-exclamation{color:orange;}
span.materialred{color:#EF5350;}


div.graph{
	border: 1px solid lightgrey;
	margin: 20px;
	background: aliceblue;

	/* replace later*/
	min-height: 300px;
	width: 700px;
}

div.comments-nav{
	padding: 20px;
	min-height: 200px;
	border: 1px solid lightgrey;
	margin: 20px;
	width: 700px;
}

div.graph h4{padding: 0px 10px;}

div.tab-pane{
	padding: 20px;
}

span.highlighted{
	background: yellow;
}

div.footer{    
	padding: 0px 20px;}


/*display center code*/

div.comments-nav, div.graph{
	display: block;
  margin-right: auto;
  margin-left: auto;}
}


// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
